<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.lsl.vue.mapper.CategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="xyz.lsl.vue.entity.Category">
        <id column="cat_id" property="catId"/>
        <result column="cat_name" property="catName"/>
        <result column="cat_pid" property="catPid"/>
        <result column="cat_level" property="catLevel"/>
        <result column="cat_deleted" property="catDeleted"/>
        <result column="cat_icon" property="catIcon"/>
        <result column="cat_src" property="catSrc"/>
    </resultMap>

    <resultMap id="getLevelZeroMap" type="xyz.lsl.vue.common.vo.goodsVo.GoodsCategoriesVo">
        <id column="cat_id" property="categoryId"/>
        <result column="cat_name" property="categoryName"/>
        <result column="cat_pid" property="parentId"/>
        <result column="cat_level" property="categoryLevel"/>
        <result column="cat_deleted" property="categoryStatus"/>
    </resultMap>

    <resultMap id="getLevelOneMap" type="xyz.lsl.vue.common.vo.goodsVo.GoodsCategoriesVo$goodsCategories">
        <id column="cat_id" property="categoryId"/>
        <result column="cat_name" property="categoryName"/>
        <result column="cat_pid" property="parentId"/>
        <result column="cat_level" property="categoryLevel"/>
        <result column="cat_deleted" property="categoryStatus"/>
    </resultMap>

    <resultMap id="getLevelTwoMap" type="xyz.lsl.vue.common.vo.goodsVo.GoodsCategoriesVo$goodsCategories$children">
        <id column="cat_id" property="categoryId"/>
        <result column="cat_name" property="categoryName"/>
        <result column="cat_pid" property="parentId"/>
        <result column="cat_level" property="categoryLevel"/>
        <result column="cat_deleted" property="categoryStatus"/>
    </resultMap>

    <select id="getLevelZero" resultMap="getLevelZeroMap">
        select cat_id, cat_name, cat_pid, cat_level, cat_deleted
        from category
        where cat_level = 0
    </select>

    <select id="getLevelOne" resultMap="getLevelOneMap">
        select cat_id, cat_name, cat_pid, cat_level, cat_deleted
        from category
        where cat_level = 1
          and cat_pid = #{pid}
    </select>

    <select id="getLevelTwo" resultMap="getLevelTwoMap">
        select cat_id, cat_name, cat_pid, cat_level, cat_deleted
        from category
        where cat_level = 2
          and cat_pid = #{pid}
    </select>

</mapper>
